<%= simple_form_for(pet) do |form| %>
  <div class="form-group">
    <%= form.input :name %>
    <%= form.input :size %>
    <%= form.input :details %>
    <%= form.input :price %>
    <%= form.input :address %>
    <%= form.input :photo, as: :file %>
  </div>

  <div class="form-actions">
    <%= form.submit 'Save', class: 'btn btn-primary mt-3' %>
  </div>
<% end %>
