<h1> Available pets to rent!</h1>


<div><button class="btn btn-dark"> <%= link_to "Add new pet", new_pet_path %></button></div>

<div class="container">
<% @pets.each do |pet| %>
  <% if pet.photo.key.present? %>
    <%= cl_image_tag pet.photo.key, height: 300, width: 400, crop: :fill %>
  <h2> <%= link_to pet.name, pet %></h2>
  <p><%= pet.details %></p>
  <h4>Price: <%= pet.price %></h4>
<% end %>
</div>
