<h1> Here's <%= @pet.name %> </h1>

<h2> Details: <%= @pet.details %> </h2>
<h2> Size: <%= @pet.size %> </h2>
<h2> Price: <%= @pet.price %> </h2>

<button class="btn btn-outline-dark"> <%= link_to "Available pets", pets_path %></button>
<button class="btn btn-outline-dark"> <%= link_to "Rent this pet", new_pet_order_path(pet_id: @pet.id) %></button>

