<h1> Here's <%= @pet.name %> </h1>

<%= cl_image_tag @pet.photo.key, height: 300, width: 400, crop: :fill %>
<h2> Details: <%= @pet.details %> </h2>
<h2> Size: <%= @pet.size %> </h2>
<h2> Price: <%= @pet.price %> </h2>
<h2> Address: <%= @pet.address %> </h2>

<div data-controller="insert-in-list">
    <h2> Rented dates: </h2>
    <div id="dates" data-insert-in-list-target="items">
    <% @pet.orders.order("date ASC").each do |order| %>
      <%= render "orders/order", order: order %>
    <% end %>
    </div>

<%= link_to "Available pets", pets_path, class:"btn btn-outline-dark" %>

  <div data-controller="orders-create">
    <button data-action="click->orders-create#fire" class="btn btn-outline-dark">Rent this pet</button>
      <div data-orders-create-target="orderElement" class="d-none">
      <%= render "orders/form", order: @order %>
      </div>
  </div>

</div>
